body{
  margin:0;
  padding:0;
}

aside{
  width:300px;
  background-color:#fff;
  min-height:1000px;
  max-height:100%;
  float:left;
}
div{
  padding:20px;
}

.icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

#content{
  padding:20px;
}

main{
  width:800px;
  background-color:#f3f3f3;
  min-height:1000px;
  max-width:100%;
  max-height:100%;
  margin-left:300px;
}

form input{
  border:2px solid #f9f9f9;
  padding:10px 15px;
  margin-top:10px;
  width: 200px;
}

form select{
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-padding-end: 20px;
  -moz-padding-end: 20px;
  -webkit-padding-start: 2px;
  -moz-padding-start: 2px;
  background-position: center right;
  background-repeat: no-repeat;
  display: inline-block;
  width: 235px;
  border: 1px solid #AAA;
  border-radius: 2px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  color: #555;
  font-size: inherit;
  margin: 0;
  overflow: hidden;
  padding-top: 2px;
  padding-bottom: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  form; input;
  border:2px solid #f9f9f9;
  padding:10px 15px;
  margin-top:10px;
}

form .button{
  margin-top:10px;
  background-color:#2ecc71;
  border:0;
  padding:10px 40px;
  color:#fff;
  cursor:pointer;
  width: 235px;
}

@media(max-width:767px){
  header .navbar {
    display: none;
  }
}
@media(min-width:768px){
  aside .breadcumb {
    display: none;   
  }
}
